In [1]:
import requests
import json
import pyjstat
import pandas as pd
import pyjstat
from pyjstat import pyjstat
import pandas as pd

In [2]:
url="https://api.openchargemap.io/v3"
api_key = INSERT API KEY HERE

In [3]:
requests.post(url, params={'key': api_key})

In [23]:
params = {"countryid": "168", "levelid":"3", "isoperational":True,
"output": "json", "compact": True, "verbose": True, "key":api_key, "maxresults": 5000}
f = r'https://api.openchargemap.io/v3/poi'
data = requests.get(f, params=params)
a=data.text
a=json.loads(a)

In [24]:
title = []
latitude = []
longitude = []
for i in range(len(a)):
    temptitle = a[i]['AddressInfo']['Title']
    templat   = a[i]['AddressInfo']['Latitude']
    templon   = a[i]['AddressInfo']['Longitude']
    title.append(temptitle)
    latitude.append(templat)
    longitude.append(templon)

d = {'Name':title, 'Latitude':latitude, 'Longitude':longitude}
df = pd.DataFrame(d)

In [25]:
df

                                         Name   Latitude  Longitude
0                                 Esso Moholt  63.409756  10.440880
1                            Vikøyrane Ørsta   62.198938   6.123863
2                                    Yx Stryn  61.900698   6.715850
3                              IONITY Aurland  60.899200   7.210500
4                                IONITY Rygge  59.386500  10.751570
..                                        ...        ...        ...
577                      Lyngdal Supercharger  58.156520   7.102960
578                      Aurland Supercharger  60.898649   7.210826
579                  Lillehammer Supercharger  61.130464  10.434918
580  Fortum Hurtigladestasjon Værnes Lufthavn  63.451216  10.919549
581                           Maxi Storsenter  60.798570  11.047120

[582 rows x 3 columns]

In [27]:
df.to_csv("Data\AllCurrentCS.csv" ,encoding="Cp1252")